version: '3'
services:
  nifi:
    hostname: demo.nifi
    image: apache/nifi:${nifi.version}
    container_name: nifi
    ports:
      - 8080:8080
      - 443:8443
    links:
      - registry.nifi
    volumes:
      - /tmp/nifi:/opt/nifi_in
      - ./for_registry/demo.nifi:/opt/demo.nifi:ro
  registry.nifi:
    hostname: registry.nifi
    image: apache/nifi-registry:${nifi.registry.version}
    container_name: registry.nifi
    volumes:
      - ./for_registry/registry.nifi/:/opt/registry.nifi:ro
      - ./extensions:/opt/nifi/nifi-current/extensions
    ports:
      - 18080:18080

